<h3>Bem vindo!</h3>

<form>

    <div class="container file-field " style="justify-content:center; text-align:center;">
        <div class="file-field input-field">
            <div class="row">
                <!--Barra de pesquisa reativa, não está funcionando como planejado-->
                <div class="col-md-9" [formGroup]="form">
                    <input type="text" id="myInput" class="form-control" placeholder="Digite o nome do Pokemon!" formControlName="name" />
                    <!--  <button class="btn" (click)="listPokemons()">Pesquisar</button> {{ this.pokemonList | json }} -->

                </div>
                <div>

                </div>
            </div>
        </div>
        <div class="search-list">
            <h4>Pokemons Encontrados = {{ pokemonList.length }}</h4>
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <!--card de pokemons -->
                    <tr *ngFor="let pokemon of pokemonList">
                        <td id="pokemon_name"> {{ pokemon.name }} </td>
                        <!--card de pokemons-->
                        <div class="card-image">
                            <img [src]="'https://img.pokemondb.net/artwork/large/'+pokemon.name +'.jpg'" width="120" height="85" />
                            <span class="card-title" id="pokemon_name">{{ pokemon.name }}</span>
                            <div> <button (click)="listAbilities(pokemon) ">Clique para saber mais</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <p></p>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
